@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 20px;


}

.Navigation-bar{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
/*	background: transparent;*/
	background-image: linear-gradient(to right , #c5d3db,#f5f7f9, #ebf0f3, #f5f7f9, #c5d3db);
	backdrop-filter: blur(20px);
	z-index: 5;
}

.mymenus{
	font-weight: bolder;
	color: black;
	font-family: 'Montserrat', sans-serif;
}

.mymenus:hover{
	text-decoration: underline 2px solid royalblue;
	color: royalblue;
}

.logo{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	color: black;
}

.allsections{
	position: relative;
	top: 80px;
	width: 100%;
/*	background-color: lightgray;*/
}

.section{
	width: 100%;
	height: 100vh;
/*	border: 5px solid black;*/
}

/*.section h1{
	text-align: center;
	margin-top: 250px;
}*/

html{
	scroll-behavior: smooth;
}

.home-section{
	border: none;
	width: 100%;
	background-image: url("https://i.pinimg.com/originals/81/17/8b/81178b47a8598f0c81c4799f2cdd4057.gif");
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: 90% 2%;

}

.myinfo{
	height: 450px;
	width: 50%;
	margin: 10% 4%;
}

.info-home{
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
}

.myname{
	font-size: 50px;
}

.fsjd{
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	color: forestgreen;
}

.rsm{
	height: 60px;
	width: 120px;
	margin: 20px 30px;
	border: none;
	background-color: royalblue;
	color: white;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
}

.rsm:hover{
	background-color: white;
	color: royalblue;
	border: 2px solid royalblue;
	transform: scale(1.1);
}

.about-section{
	background-color: whitesmoke;
	border: none;
	width: 100%;
	height: 500px;
	display: flex;
	padding: 20px;
}

.aboutsect{
	height: 500px;
}

.myimg{
	width: 40%;
}

.codj{
	padding: 30px 60px;
}

.career{
	text-align: justify;
	font-size: 22px;
	margin-top: 50px;
	text-indent: 20%;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	line-height: 40px;
}

.skills-section{
/*	height: 500px;*/
	width: 100%
	border: none;
	padding: 20px;
}

.rows td{
	padding: 10px;
}

.tbl{
	margin-top: 50px;
}

.Skill-head{
	font-size: 25px;
	margin-bottom: 30px;
	font-family: 'Montserrat', sans-serif;
	color: orangered;
	font-variant: small-caps;
	text-decoration: underline 3px solid orangered;
}

.Skillset{
	font-weight: bolder;
	font-family: 'Montserrat', sans-serif;
}

.rows td div{
	height: 200px;
	border-radius: 20px;
}

.rows td div:hover{
	box-shadow: 0px 0px 10px gray;
}

.projects-section{
	width: 100%
	padding: 20px;
	border: none;
	height: 1200px;
}

.all-projects{
	margin-top: 40px;
}

.card-title{
/*	margin-left: 5px;*/
	color: orangered;
	font-weight: bolder;
}

.card-img-top{
	height: 200px;
	width: 200px;
}

.contact-section{
	margin-top: 50px;
	font-family: 'Montserrat', sans-serif;
}

.cnt-tbl{
	margin-top: 70px;
}

